<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BD LES DOMAINES</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- Google Fonts - Montserrat -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />

    <script src="/js/face-api.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <style>
      @font-face {
        font-family: "Janna LT Bold";
        font-style: normal;
        font-weight: 400;
        src: url("/fonts/Janna LT Bold.ttf") format("opentype");
      }

      h3,
      h4,
      h5,
      h6,
      p,
      span,
      button,
      input,
      div,
      a {
        font-family: "Janna LT Bold";

        font-weight: 800 !important;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
      }

      .form-control {
        color: #de2551;
      }

      label {
        font-size: 24px;
      }

      .btn-primary {
        color: #fff;
        background-color: #019a4a;
        border-color: #019a4a;
      }

      .btn {
        padding: 0.375rem 3.5rem;
        border-radius: 10px;
        box-shadow: -10px 17px 30px #000000b3;
        font-size: 1.5rem;
      }
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      .main {
        position: relative;
        margin: auto;
        overflow: hidden;
        width: 1920px;
        height: 1080px;
      }

      .main::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/mewbc.png);
        filter: blur(23.1210994720459px) brightness(101.10082995891571%);
        background-color: rgba(0, 0, 0, 0);
        z-index: -1; /* Ensure the blurred layer is behind other content */
      }

      .main img {
        position: absolute;
        top: 54%;
        left: 32%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }

      .section {
        width: 687px;
        z-index: 10;
        height: 515px;
        position: absolute;
        top: 55%;
        left: 70%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
      }

      .image-screenface {
        top: 44% !important;
        left: 57% !important;
        --z-index: 3;
        background-color: transparent;
        background-size: 100% 100%;
        height: 105px;
        left: calc(50% - 71px);
        object-fit: cover;
        opacity: 1;
        position: absolute;
        top: calc(50% + 47px);
        width: 135px;
      }

      .ocp {
        --z-index: 1;
        background-color: transparent;
        background-size: 100% 100%;
        height: 150px;
        left: 1750px !important;
        object-fit: cover;
        opacity: 1;
        position: absolute;
        top: 984px !important;
        width: 282px;
      }

      .chapeau {
        --z-index: 4;
        background-color: transparent;
        background-size: 100% 100%;
        height: 94px;
        left: 1095px !important;
        object-fit: cover;
        opacity: 1;
        position: absolute;
        top: 384px !important;
        width: 146px;
      }

      .steps-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      /* Custom styling for steps */
      .step {
        display: none;
        transition: opacity 0.5s ease-in-out;
      }
      .step.active {
        display: block;
      }
      .step-content {
        padding: 20px;
        border-radius: 5px;
      }
      .btn-container {
        margin-top: 20px;
      }
      .btn-link {
        background-color: #019a4a;
        border: #019a4a;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      .btn-link:hover {
        background-color: #019a4a;
        border: #019a4a;
        color: #fff;
      }
      /* Add this CSS for styling the loader */
      .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #019a4a;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 65%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        display: none; /* Hide the loader by default */
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <div class="main" style="text-align: right">
      <% userData.forEach((screenshot) => { %> <% const imagePath =
      screenshot.screenshotPath.replace(/\\/g, '/').split('public/')[1]; %>
      <img
        class="cover-image"
        src="/<%= imagePath %>"
        alt="Centered Image"
        style="width: 558px"
      />

      <div class="section">
        <div class="step step-1 active">
          <div class="step-content">
            <!-- Add more user data fields here as needed -->

            <h4 style="opacity: 0.42">الخطوة الاخيرة</h4>
            <br />
            <p style="font-size: 40px">تحويل الصورة الآن</p>
            <br />

            <br />
            <!-- Form to trigger conversion -->

            <form
              id="convertForm"
              action="/user/convertar/<%= screenshot.userId %>"
              method="GET"
            >
              <div class="btn-container">
                <a
                  href="/screenar/<%= screenshot.userId %>"
                  class="btn btn-secondary"
                  >تغيير الصورة</a
                >
                <button id="convertButton" class="btn btn-primary">أكمل</button>

                <br /><br />
                <p>يرجى ملاحظة أن التحويل يستغرق حوالي دقيقة واحدة</p>
              </div>
            </form>
            <% }); %>

            <!-- Loader -->
            <div id="loader" class="loader" style="display: none"></div>
          </div>
        </div>
      </div>

      <!-- Loader -->
      <div id="loader" class="loader" style="display: none"></div>

      <img class="ocp" src="/logo.png" alt="Centered Image" />
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Function to show loader when conversion starts
      function showLoader() {
        var loader = document.getElementById("loader");
        loader.style.display = "block";
      }

      // Attach click event listener to the button
      document
        .getElementById("convertButton")
        .addEventListener("click", showLoader);

      // Function to hide loader when conversion completes
      function hideLoader() {
        var loader = document.getElementById("loader");
        loader.style.display = "none";
      }
    </script>
  </body>
</html>
