<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Website</title>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      .main {
        background: #de2452;
        width: 1920px; /* Set width */
        height: 1080px; /* Set height */
        position: relative;
        margin: auto;
        overflow: hidden;
      }

      .main img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }

      .image-screenface {
        top: 44% !important;
        left: 57% !important;
        --z-index: 3;
        background-color: transparent;
        background-size: 100% 100%;
        height: 105px;
        left: calc(50% - 71px);
        object-fit: cover;
        opacity: 1;
        position: absolute;
        top: calc(50% + 47px);
        width: 135px;
      }

      .ocp {
        --z-index: 1;
        background-color: transparent;
        background-size: 100% 100%;
        height: 149px;
        left: 1800px !important;
        object-fit: cover;
        opacity: 1;
        position: absolute;
        top: 970px !important;
        width: 129px;
      }

      .chapeau {
        --z-index: 4;
        background-color: transparent;
        background-size: 100% 100%;
        height: 94px;
        left: 1095px !important;
        object-fit: cover;
        opacity: 1;
        position: absolute;
        top: 384px !important;
        width: 146px;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <img src="/mask-group-4@1x.png" alt="Centered Image" />

      <% userData.forEach((screenshot) => { %> <% const imagePath =
      screenshot.backgroundOutput.replace(/\\/g, '/').split('public/')[1]; %>
      <img
        class="image-screenface"
        src="/<%= imagePath %>"
        alt="Centered Image"
      />
      <% }); %>

      <img class="chapeau" src="/image-3@1x.png" alt="Centered Image" />

      <img class="ocp" src="/mask-group-2-1@1x.png" alt="Centered Image" />
    </div>
  </body>
</html>
