<html>
  <head>
    <meta charset="utf-8" />
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://animaproject.s3.amazonaws.com/home/favicon.png"
    />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/container.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />

    <style type="text/css">
      .container {
        align-items: flex-start;
        background-color: var(--white);
        display: flex;
        gap: 16px;
        padding: 0 57px;
        width: 1920px;
      }

      .container .overlap-group1 {
        height: 1080px;
        position: relative;
        width: 1526px;
      }

      .screen a {
        display: contents;
        text-decoration: none;
      }

      .container .image-9 {
        height: 1080px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 766px;
      }

      .container .image-10 {
        height: 1080px;
        left: 762px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 764px;
      }

      .container .image-6 {
        height: 201px;
        left: 1257px;
        object-fit: cover;
        position: absolute;
        top: 277px;
        width: 136px;
      }

      .container .image-19 {
        height: 94px;
        left: 1160px;
        object-fit: cover;
        position: absolute;
        top: 621px;
        width: 64px;
      }
    </style>
  </head>

  <body style="margin: 0; background: #ffffff">
    <div class="container-center-horizontal">
      <div class="container screen">
        <a href="/pg">
          <img class="path" src="img/path-5-1@1x.png" alt="Path 5" />
        </a>
        <div class="overlap-group1">
          <div class="image-container">
            <img class="image-9" src="img/image-9@1x.png" alt="" />
            <img class="image-10" src="img/image-10@1x.png" alt="" />
          </div>
          <img class="image-6" src="img/image-6@1x.png" alt="" />
          <img class="image-19" src="img/image-19@1x.png" alt="" />
        </div>
        <a href="/pg2">
          <img class="path" src="img/path-6-1@1x.png" alt="" />
        </a>
      </div>
    </div>
  </body>
</html>
